
@inject IInventory Repository
@inject NavigationManager Navigation
@rendermode InteractiveServer
<div class="address-card">
    <div class="address-card-body">
        <h5>@Address1.Id</h5>
        @($"{Address1.Line1}, {(string.IsNullOrEmpty(Address1.Line2) ? "" : Address1.Line2 + ", ")}{Address1.City}, {Address1.State}, {Address1.Zip}")
        @* @($"{address.Line1}, {(string.IsNullOrEmpty(address.Line2) ? "" : address.Line2 + ", ")}{address.City}, {address.State}, {address.Zip}") *@

    </div>
    <div class="actions">
        <a href="@($"/edit/{Address1.Id}")"
        class="btn btn-warning shadow-none">
            Edit Address
        </a>
        <button @onclick="OpenConfirmDialog" class="btn btn-danger shadow-none ms-3">
            Delete
        </button>
    </div>
</div>
<ConfirmDialog Show="showConfirmdialog" OnCancel="CancelDelete" OnDelete="DeleteBook">
    <h3>
        Are you sure to delete address @Address1.Id?
    </h3>
</ConfirmDialog>
@code {
    [Parameter]
    public required Address Address1 { get; set; }

    private bool showConfirmdialog;
    private void OpenConfirmDialog()
    {
        showConfirmdialog = true;
    }

    private void CancelDelete()
    {
        showConfirmdialog = false;
    }
    private async Task DeleteBook()
    {
        await Repository.DeleteAddressByIdAsync(Address1.Id);
        showConfirmdialog = false;
        Navigation.NavigateTo("/");
    }
}

